include global_headstuff
include Header
include Post
include CreatePost
include AuthModule
include FollowerModule
include SettingsModule
include Stream
include Single
include Navigation

block pre_site

doctype html
html(lang="de", ng-app="myFeed")

	head
		block head

	body
		block body

include scripts
