include global_headstuff
include header
include post
include createpost
include authmodule
include followermodule
include settingsmodule
include stream
include single
include navigation

block pre_site

doctype html
html(lang="de", ng-app="myFeed")

	head
		block head

	body
		block body

include scripts
