mixin CreatePost()

	.CreatePost(ng-controller="CreatePostController", ng-show="login.token")

		textarea.createpost-input(ng-keyup="parseText()", ng-model="PostObject.content") c

		button.send(ng-click="sendPostObject(PostObject)") send

		hr

		+Post({type: 'new'})