mixin Post(config)

	// Post Element - can be normal or a tweet if short content
	.Post(
		ng-show="PostObject.content", 
		ng-class="{tweet: PostObject.content.length < 141 && PostObject.attachments.length < 1}", 
		class=config.type
	)

		// The Header - Avatar, Metadata and Stuff
		header.post-header
			.Avatar
				img(ng-src="https://www.gravatar.com/avatar/{{PostObject.user.emailhash}}")
			.Meta
				.meta-username Robert Agthe
				.meta-postcreated {{PostObject.created}}
				.meta-permalink
					a(href!='/post/') Permalink

		// Main Content of the Post
		article.post-article
			.article-content
				.content-content(ng-bind-html="PostObject.content | toHTML")


		// Attachments
		.Attachments(ng-show="PostObject.attachments.length > 0")

			// Image Attachment
			.ImageAttachment(ng-repeat="attachment in PostObject.attachments | filter:{type: 'image'} track by $index")

				if config.type == 'new'
					// remove this attachment
					.attachment-remove(ng-click="removeAttachment(attachment)") X

				.image-thumb
					a(href="{{attachment.url}}")
						img(ng-src="{{attachment.thumb}}")
					.image-link
						p Quelle: 
							a(href="{{attachment.url}}") {{attachment.url}}

			// URL Attachment
			.UrlAttachment(ng-repeat="attachment in PostObject.attachments | filter:{type: 'url'}  track by $index")

				if config.type == 'new'
					// remove this attachment
					.attachment-remove(ng-click="removeAttachment(attachment)") X

				.url-thumb(ng-if="attachment.thumb")
					img(ng-src="{{attachment.thumb}}")

				.url-meta(ng-if="attachment.thumb")
					.url-link
						a(href="{{attachment.url}}", title="{{attachment.title}}") {{attachment.title}}
					.url-excerpt {{attachment.excerpt}}

				.url-meta-wide(ng-if="!attachment.thumb")
					.url-link
						a(href="{{attachment.url}}", title="{{attachment.title}}") {{attachment.title}}
					.url-excerpt {{attachment.excerpt}}