mixin SettingsModule()

	.SettingsModule.FrontendModule(ng-controller="SettingsController")

		h2.ModuleTitle Settings
		p Settings for your MyFeed appearance or behavior.
		input(ng-model="bgimage", placeholder="Background Image")