clearfix() 
	&:after
		content: "";
		display: block;
		clear: both;

#BORDER-BOX
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

/******************************************************
 * introduce a new row
 ******************************************************/
#ROW
	clearfix()
	clear: both

/******************************************************
 * submit number of columns you want to span the div
 * and the number of all columns to fill the page
 * 6, 12 = 50% on each div
 * 3, 12 = 40% on each div
 ******************************************************/
col($num, $cols)
	@extend #BORDER-BOX
	overflow: hidden
	float: left
	width: (100% / $cols) * $num - 0.000001%
