$space = 20px

@import url("http://brick.a.ssl.fastly.net/Lato:100,100i,200,200i,300,300i,400,500,600");
@import url("http://fonts.googleapis.com/css?family=Lustria");

@import reset
@import fonts
@import grid
@import webcraft
@import style-guide
@import mediaqueries


html
	height: 100%

body
	@extend #FONTSIZE-NORMAL
	@extend #FONT-MAIN
	@extend #COLOR-BLACK
	@extend #BG-GREY
	@extend #LINE-HEIGHT
	font-weight: 300
	font-style: normal
	height: 100%
	min-width:400px

.Stream
	@extend #PADDING-NORMAL

.Post
	@extend #FONTSIZE-SMALL
	@extend #PADDING-NORMAL
	@extend #BG-WHITE
	@extend #MARGIN-BOTTOM-NORMAL
	@extend #BORDER-DARK
	border-width: 1px
	border-style: solid

hr
	@extend #BORDER-DARK
	@extend #MARGIN-V-NORMAL
	border-width: 0px
	border-top-width: 1px
	border-style: solid

header.post-header
	clearfix()
	@extend #MARGIN-BOTTOM-SMALL
	.Avatar
		float: left
		img
			max-width: 100%
	.Meta
		@extend #PADDING-H-NORMAL
		float:left

		.meta-username
			font-weight: bold

article.post-article
	.article-content
		@extend #MARGIN-BOTTOM-NORMAL

		.content-title
			@extend #FONTSIZE-BIG
			@extend #LINE-HEIGHT
			@extend #MARGIN-BOTTOM-SMALL
