#COLOR-WHITE
	color: #fff

#COLOR-BLACK
	color: #424242

#COLOR-GREY
	color: #ccc

#COLOR-BLUE
	color: #374C7F

#BG-DARK
	background-color: #1A1A1A

#BG-GREY
	background-color: #E9EAED

#BG-WHITE
	background-color: #FFF

#BORDER-DARK
	border-color: #888888

#BORDER-BLUE
	border-color: #E3E3E5
