// Typo Stuff
#LINE-HEIGHT 
	line-height: 1.5em

#LINE-HEIGHT-SMALL
	line-height: 1.5em

#LINE-HEIGHT-NO 
	line-height: 0

#TEXT-CENTER 
	text-align: center


#FONTSIZE-SMALL 
	font-size: 16px

#FONTSIZE-NORMAL 
	font-size: 18px

#FONTSIZE-BIG 
	font-size: 27px

#FONTSIZE-MEGA 
	font-size: 36px

#FONTSIZE-GIGA
	font-size: 48px

#FONTSIZE-TERA
	font-size: 60px



// Padding Horizontal
#PADDING-H-NORMAL
	padding-left: $space
	padding-right: $space

#PADDING-H-BIG 
	padding-left: ($space*2)
	padding-right: ($space*2)


// Padding Vertical
#PADDING-V-NORMAL
	padding-top: $space
	padding-bottom: $space

#PADDING-V-SMALL 
	padding-top: ($space/2)
	padding-bottom: ($space/2)

#PADDING-V-BIG 
	padding-top: ($space*2)
	padding-bottom: ($space*2)

#PADDING-V-MEGA 
	padding-top: ($space*4)
	padding-bottom: ($space*4)


// Padding
#PADDING-NORMAL 
	padding: $space

#PADDING-SMALL 
	padding: ($space/2)

#PADDING-BIG 
	padding: ($space*2)

#PADDING-MEGA 
	padding: ($space*4)


// Margin Bottom
#MARGIN-BOTTOM-NORMAL 
	margin-bottom: $space

#MARGIN-BOTTOM-SMALL 
	margin-bottom: ($space/2)

#MARGIN-BOTTOM-BIG 
	margin-bottom: ($space*2)

// Margin RIGHT
#MARGIN-RIGHT-NORMAL 
	margin-right: $space

#MARGIN-RIGHT-SMALL 
	margin-right: ($space/2)

#MARGIN-RIGHT-BIG 
	margin-right: ($space*2)

// Margin LEFT
#MARGIN-LEFT-NORMAL 
	margin-left: $space

#MARGIN-LEFT-SMALL 
	margin-left: ($space/2)

#MARGIN-LEFT-BIG 
	margin-left: ($space*2)

// Margin VERTIKAL
#MARGIN-V-NORMAL 
	margin-top: $space
	margin-bottom: $space

#MARGIN-V-SMALL 
	margin-top: ($space/2)
	margin-bottom: ($space/2)

#MARGIN-V-BIG 
	margin-top: ($space*2)
	margin-bottom: ($space*2)

// Block Positioning
#CENTER 
	margin-left: auto
	margin-right: auto
