$space = 20px

@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300')
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700')

@import reset
@import fonts
@import grid
@import webcraft
@import style-guide
@import mediaqueries
@import vendor-prefixed

html
	height: 100%
	min-height: 100%

body
	@extend $FONT-MAIN
	@extend $COLOR-BLACK
	@extend $BG-LIGHTGREY
	@extend $LINE-HEIGHT-NORMAL
	font-style: normal
	height: 100%
	min-height: 100%
	min-width:200px

.Background
	background-size: cover
	background-position: center
	position: fixed;
	left: -10%;
	top: -10%;
	z-index: -1;
	width: 120%
	height: 120%
	//-webkit-filter: blur(15px);
	//-moz-filter: blur(15px);
	//-o-filter: blur(15px);
	//-ms-filter: blur(15px);
	//filter: blur(15px);

a, a:link, a:visited
	transition: all 0.5s ease
	@extend $COLOR-BLUE
	font-weight: 400
	cursor: pointer

input, button
	@extend $FONTSIZE-SMALL
	@extend $FONT-MAIN
	@extend $PADDING-SMALL
	@extend $BORDER-GREY-OP
	border-radius: 4px
	border-style: solid
	border-width: 1px
	margin-left: 0

input
	@extend $BG-WHITE
	@extend $COLOR-BLACK
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $MARGIN-RIGHT-SMALL

button
	@extend $BG-BLUE-OP
	@extend $COLOR-WHITE
	@extend $MARGIN-BOTTOM-NO
	transition: all 0.5s ease-out
	cursor: pointer

button:hover
	@extend $BG-BLUE

button.showMore
	@extend $CENTER
	display: block

.ErrorPage
	@extend $CENTER
	h1
		@extend $FONTSIZE-MEGA
		@extend $FONT-MAIN
		@extend $LINE-HEIGHT-NORMAL
	p
		@extend $FONT-MAIN
		@extend $FONTSIZE-NORMAL
		@extend $LINE-HEIGHT-NORMAL

nav.MainNavi
	@extend $BG-BLACK
	@extend $COLOR-WHITE
	@extend $FONTSIZE-NORMAL
	col(12,12)
	position: fixed
	z-index: 1
	opacity: 0.9
	.Wrapper
		@extend $BORDER-BOX
		@extend $CENTER
		@extend $PADDING-V-SMALL
		@extend $PADDING-H-SMALL
		max-width: 400px
		flex-display()
		flex-align-items(center)
		flex-justify-content(space-around)


a.navi-item, a.navi-item:link, a.navi-item:visited
	@extend $FONT-NAVI
	@extend $COLOR-WHITE
	@extend $TEXT-CENTER
	text-decoration: none
	transition: all 0.1s ease
	cursor: pointer

a.navi-item.active
	@extend $BORDER-WHITE
	border-style: solid
	text-decoration: underline

a.navi-item:hover, a.navi-item:active
	@extend $COLOR-LIGHTGREY
	text-decoration: underline

.FrontendModule
	@extend $PADDING-NORMAL
	@extend $BG-WHITE-OP
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $BORDER-GREY
	border-width: 1px
	border-style: solid
	border-radius: 4px
	li, p
		@extend $LINE-HEIGHT-NORMAL
	p
		@extend $MARGIN-BOTTOM-NORMAL

.ModuleTitle
	@extend $FONTSIZE-MEGA
	@extend $FONT-HEAD
	@extend $MARGIN-BOTTOM-SMALL
	@extend $LINE-HEIGHT-SMALL
	text-transform: uppercase

header.Siteheader
	@extend $BORDER-BOX
	@extend $PADDING-NORMAL
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $CENTER
	padding-top: 0
	max-width: 800px

header.MyFeedHeader
	@extend $BORDER-BOX
	@extend $PADDING-SMALL
	@extend $MARGIN-BOTTOM-NO
	@extend $CENTER
	@extend $TEXT-CENTER
	padding-top:0
	max-width: 800px
	.MyFeedTitle
		@extend $PADDING-V-BIG
		@extend $PADDING-H-NORMAL
		@extend $COLOR-BLACK
		@extend $LINE-HEIGHT-SMALL
		padding-top: 0
		h1
			@extend $FONTSIZE-GIGA
			@extend $FONT-HEAD
			@extend $MARGIN-BOTTOM-SMALL
			@extend $LINE-HEIGHT-SMALL
			text-transform: uppercase
			text-shadow: 1px 1px 2px rgba(255, 255, 255, 1),1px 1px 2px rgba(255, 255, 255, 0.5)
		p
			@extend $FONTSIZE-SMALL
			@extend $LINE-HEIGHT-NORMAL
			@extend $CENTER
			text-shadow: 1px 1px 1px rgba(255, 255, 255, 1),1px 1px 1px rgba(255, 255, 255, 0.2)
			opacity: 0.5
			max-width: 60%
		a:link, a:visited
			@extend $COLOR-BLACK
		a:hover, a:active
			@extend $COLOR-DARKGREY

.ContentWrapper
	@extend $BORDER-BOX
	@extend $CENTER
	@extend $PADDING-SMALL
	max-width: 800px
	padding-top: ($space * 4)

.ContentWrapperSingle
	@extend .ContentWrapper
	min-height: 100%
	flex-display()
	flex-align-items(center)

.Posts
	width: 100%

.Post
	@extend $PADDING-NORMAL
	@extend $BG-WHITE-OP
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $BORDER-GREY
	border-width: 1px
	border-style: solid
	border-radius: 4px

.Post.new
	@extend $BORDER-GREEN
	border-width: 3px
	border-style: dotted

.Post.tweet
	position: relative
	border-radius: 15px
	flex-display()
	flex-align-items(center)
	flex-justify-content(flex-start)
	header.post-header
		@extend $MARGIN-BOTTOM-NO
		@extend $BORDER-GREY
		@extend $PADDING-H-NORMAL
		padding-left:0
		border-right-width: 1px
		border-style: dotted
		flex(2)
		flex-display()
		flex-direction(column)
		flex-align-items(center)
		.Avatar
			@extend $MARGIN-BOTTOM-SMALL
		.Meta
			@extend $PADDING-NO
			@extend $TEXT-CENTER

	article.post-article
		@extend $PADDING-H-NORMAL
		@extend $TEXT-CENTER
		padding-right:0
		flex(6)
		.content-content p:last-of-type
			@extend $FONTSIZE-BIG
			@extend $LINE-HEIGHT-NORMAL
			@extend $MARGIN-BOTTOM-NO

header.post-header
	@extend $MARGIN-BOTTOM-SMALL
	flex-display()
	flex-align-items(center)
	flex-justify-content(left)
	.Avatar
		width: 20%
		min-width: 30px
		max-width: 50px
		min-height: 30px
		max-height: 50px
		img
			@extend $BORDER-DARKGREY
			@extend $BORDER-BOX
			display: block
			border-width: 1px
			border-style: solid
			border-radius: 40px
			overflow: hidden
			width: 100%
		img:hover
			@extend $BORDER-BLUE
			border-width: 2px

	.Meta
		@extend $PADDING-H-SMALL
		@extend $FONTSIZE-TINY 
		@extend $LINE-HEIGHT-SMALL
		@extend $COLOR-DARKGREY

		a, a:link, a:visited
			@extend $COLOR-DARKGREY
			text-decoration: none

		a:active, a:hover
			@extend $COLOR-BLUE

		.meta-actions
			div
				@extend $MARGIN-RIGHT-SMALL
				display: inline-block

		.meta-username, .meta-username a
			font-weight: bold


article.post-article
	@extend $MARGIN-BOTTOM-NO	
	clearfix()
	.article-content
		clearfix()
		@extend $LINE-HEIGHT-NORMAL
		@extend $OVERFLOW-NICE
		@extend $FONTSIZE-NORMAL

		.content-content
			p, h1, h2, code
				@extend $MARGIN-BOTTOM-NORMAL
			h1
				@extend $FONTSIZE-MEGA
				@extend $PADDING-V-NORMAL
				@extend $LINE-HEIGHT-SMALL
				padding-bottom: 0px
			h2
				@extend $FONTSIZE-BIG
				@extend $PADDING-V-NORMAL
				padding-bottom: 0px
			h3, h4, h5, h6
				@extend $PADDING-V-NORMAL
				padding-bottom: 0px
				font-weight: bold
			em
				font-style: italic
			strong, b
				font-weight: bold
			ul
				@extend $PADDING-H-NORMAL
				padding-right: 0
				list-style: disc
			code 
				@extend $FONT-MONO
				@extend $PADDING-NORMAL
				@extend $BG-LIGHTGREY
				@extend $COLOR-BLACK
				@extend $FONTSIZE-SMALL
				display: block
				white-space: pre
				overflow: scroll

			blockquote 
				@extend $PADDING-H-NORMAL
				@extend $BORDER-DARKGREY
				@extend $COLOR-BLACK
				border-left-width: $space
				border-style: solid
				display: block


		.content-title
			@extend $FONTSIZE-BIG
			@extend $MARGIN-BOTTOM-SMALL


.Attachments.only
	@extend $FONTSIZE-NORMAL
	border: 0
	padding-top: 0
	a, a:link, a:visited
		@extend $COLOR-BLUE
	a:active, a:hover
		@extend $COLOR-BLUE

.Attachments
	@extend $FONTSIZE-SMALL
	@extend $PADDING-V-NORMAL
	@extend $BORDER-GREY
	padding-bottom: 0
	border-top-width: 1px
	border-style: dotted

	div:last-of-type
		@extend $MARGIN-BOTTOM-NO
	a, a:link, a:visited
		@extend $COLOR-DARKGREY
	a:active, a:hover
		@extend $COLOR-BLUE
	.attachment-remove
		position: absolute
		right: -10px
		top: -10px
		z-index: 1

	.ArticleAttachment
		@extend $MARGIN-BOTTOM-NORMAL
		position: relative
		clearfix()
		.article-embed
			clearfix()
			@extend $TEXT-CENTER
			padding-left: 0
			div.oembedWrapper
				width:100%
				position: relative

		.article-link
			@extend $FONTSIZE-TINY
			@extend $OVERFLOW-NICE
			@extend $TEXT-CENTER

	.UrlAttachment
		@extend $LINE-HEIGHT-NORMAL
		@extend $MARGIN-BOTTOM-NORMAL
		@extend $COLOR-DARKGREY
		position: relative
		clearfix()
		flex-display()
		flex-align-items(center)
		.url-link
			@extend $OVERFLOW-NICE

		.url-thumb
			@media $handhelds
				col(3,12)
			@media $medium_beyond
				col(2,12)
			@extend $PADDING-H-NORMAL
			padding-left: 0
			img
				@extend $BORDER-DARKGREY
				display: block
				border-width: 1px
				border-style: solid
				max-width: 100%

		.url-meta
			@media $handhelds
				col(9,12)
			@media $medium_beyond
				col(10,12)

		.url-meta-wide
			clearfix()

	.ImageAttachment
		@extend $MARGIN-BOTTOM-NORMAL
		position: relative
		clearfix()
		.image-thumb
			@extend $TEXT-CENTER
			padding-left: 0
			img
				width: 100%

		.image-link
			@extend $FONTSIZE-TINY
			@extend $OVERFLOW-NICE
			@extend $TEXT-CENTER

	.VideoAttachment
		@extend $MARGIN-BOTTOM-NORMAL
		position: relative
		clearfix()
		.video-embed
			clearfix()
			@extend $TEXT-CENTER
			padding-left: 0
			div.oembedWrapper
				width:100%
				height:0
				padding-bottom: 56%
				position: relative
			iframe
				width: 100%
				height: 100%
		.video-link
			@extend $FONTSIZE-TINY
			@extend $OVERFLOW-NICE
			@extend $TEXT-CENTER

	.SoundAttachment
		@extend $MARGIN-BOTTOM-NORMAL
		position: relative
		clearfix()
		.sound-embed
			clearfix()
			@extend $TEXT-CENTER
			padding-left: 0
			img
				width: 100%
		.sound-link
			@extend $FONTSIZE-TINY
			@extend $OVERFLOW-NICE
			@extend $TEXT-CENTER

.CreatePost
	clearfix()
	@extend $MARGIN-BOTTOM-NORMAL

.createpost-input
	@extend $FONT-MAIN
	@extend $FONTSIZE-NORMAL
	@extend $BORDER-BOX
	@extend $PADDING-NORMAL
	@extend $BG-WHITE-OP
	@extend $BORDER-GREY-OP
	border-radius: 4px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	border-width: 1px
	width: 100%
	height: $space*5

.Buttonbar
	@extend $MARGIN-BOTTOM-NORMAL
	flex-display()
	flex-justify-content(flex-end)

// loading animation
a.loadingText, a.loadingText:link, a.loadingText:visited
	@extend .Post
	@extend $TEXT-CENTER
	@extend $BORDER-BOX
	@extend $COLOR-DARKGREY
	@extend $CENTER
	max-width: 200px
	text-transform: lowercase
	display: block
	text-decoration: none

.ng-cloak, .x-ng-cloak {
	display: none !important
}
