WHITE = #FFF
LIGHTGREY = #E5E5E5
GREY = #D8D8D8
GREY-OP = rgba(216,216,216,0.5)
DARKGREY = #666
BLACK = #333
GREEN = #53A93F
BLUE = rgba(66, 127, 237, 1)
BLUE-OP = rgba(66, 127, 237, 0.5)
LIGHTBLUE = lighten(#427FED, 10)

$COLOR-WHITE
	color: WHITE

$COLOR-BLACK
	color: BLACK

$COLOR-GREY
	color: GREY

$COLOR-DARKGREY
	color: DARKGREY

$COLOR-LIGHTGREY
	color: LIGHTGREY

$COLOR-BLUE
	color: BLUE


$BG-LIGHTBLUE
	background-color: LIGHTBLUE

$BG-BLUE
	background-color: BLUE

$BG-BLUE-OP
	background-color: BLUE-OP

$BG-GREEN
	background-color: GREEN

$BG-GREY
	background-color: GREY

$BG-DARKGREY
	background-color: DARKGREY

$BG-LIGHTGREY
	background-color: LIGHTGREY

$BG-WHITE
	background-color: WHITE

$BG-BLACK
	background-color: BLACK

$BG-WHITE-OP
	background-color: rgba(255,255,255,0.85)


$BORDER-GREEN
	border-color: GREEN

$BORDER-BLUE
	border-color: BLUE

$BORDER-DARKGREY
	border-color: DARKGREY

$BORDER-GREY
	border-color: GREY

$BORDER-GREY-OP
	border-color: GREY-OP

$BORDER-WHITE
	border-color: WHITE

$BORDER-LIGHTGREY
	border-color: LIGHTGREY

$OVERFLOW-NICE
	overflow: hidden
	text-overflow: ellipsis