// extend layout1
extends includes/_layout

// extend block head
block head
	+global_headstuff({
		title: user.username+" ~ MyFeed",
		favicon: "http://www.gravatar.com/avatar/"+user.emailhash,
		description: "Stream of Media, Thoughts, Things and Cats from "+ user.username,
		fb_title: user.username+"´s MyFeed",
		fb_sitename: "MyFeed of "+user.username,
		fb_description: "Stream of Media, Thoughts, Things and Cats from "+ user.username,
		fb_image: "http://www.gravatar.com/avatar/"+user.emailhash+'?s=1200',
		fb_url: user.domain,
		fb_type: "website",
		appletouchicon: "http://www.gravatar.com/avatar/"+user.emailhash+'?s=640'
	})

// extend block body
block body
	if settings.bgimage
		.Background(style="background-image: url("+settings.bgimage+");")
	+Navigation({active: 1})
	.ContentWrapper(class="ng-cloak" ng-cloak)
		+Header()
		+Stream({type: false})