// extend layout1
extends includes/_layout

// extend block head
block head
	+global_headstuff({
		title: doc.title+" ~ "+user.username+" MyFeed",
		favicon: "http://www.gravatar.com/avatar/"+user.emailhash,
		description: truncate(markdown(doc.content).replace(/<(?:.|\n)*?>|[\n\r]/gm, ''), 230),
		fb_title: doc.title+" ~ "+user.username+" MyFeed",
		fb_sitename: "MyFeed of "+user.username,
		fb_description: truncate(markdown(doc.content).replace(/<(?:.|\n)*?>|[\n\r]/gm, ''), 230),
		fb_image: thumbnail,
		fb_url: user.domain+'post/'+doc._id,
		fb_type: "website",
		appletouchicon: "http://www.gravatar.com/avatar/"+user.emailhash+'?s=640'
	})

// extend block body
block body
	if settings.bgimage
		- var bgstyle = "background-image: url("+settings.bgimage+");"

	.Background(style=bgstyle)

	+Navigation()
	.ContentWrapperSingle(class="ng-cloak" ng-cloak)
		+Single()
