// extend layout1
extends includes/_layout2-admin

// extend block head
block head

	// Head - Time for meta tags
	+global_headstuff({title: "Robert Agthe"})

// extend block body
block body
	.Stream
		+AuthModule()

		+CreatePost()

		.Posts(ng-controller="PostListController")
			p(ng-init="tableReverseSort = true", ng-click="tableReverseSort = !tableReverseSort") Sortierung umkehren
			.iterate(ng-repeat="PostObject in Posts | orderBy:'created':tableReverseSort track by $index")
				+Post({type: ''})
