// extend layout1
extends includes/_layout2-admin

// extend block head
block head

	// Head - Time for meta tags
	+global_headstuff({title: "Robert Agthe"})

// extend block body
block body
	.Stream
		+AuthModule()

		+CreatePost()

		.Posts(ng-controller="PostListController")
			.iterate(ng-repeat="PostObject in Posts")
				+Post({type: ''})
