// extend layout1
extends includes/_layout

// extend block head
block head

	// Head - Time for meta tags
	+global_headstuff({title: user.username+" ~ MyFeed"})

// extend block body
block body

	.Background

	// MyFeed Header
	header.MyFeedHeader
		.MyFeedTitle
			h1!=user.username
			p 
				| Live 
				a(href="https://github.com/polarity/MyFeed") MyFeed 
				| of #{user.username}. Subscribe via RSS or follow via your own
				| MyFeed Software.

	// Stream Start
	.Stream(class="ng-cloak")

		+CreatePost()

		.Posts(ng-controller="PostListController")
			.iterate(ng-repeat="PostObject in Posts | orderBy:'created':true track by $index")
				+Post({type: ''})
