// extend layout1
extends includes/_layout1

// extend block head
block head

	// Head - Time for meta tags
	+global_headstuff({title: "Robert Agthe"})

// extend block body
block body
	.Navigation-Left
	.Stream
		.CreatePost(ng-controller="CreatePostController")
			textarea.createpost-input(ng-keyup="parseText()", ng-model="text") c
			button.send send

			h2 {{title}}

			.text {{text}}

			ul
				li(ng-repeat="urls in PostObject.urls track by $index")
					p Jo {{urls}}
					a(href="{{urls}}") {{urls}}

		for row in rows
			+Post(user, row)