// extend layout1
extends includes/_layout

// extend block head
block head
	+global_headstuff({
		title: user.username+" ~ MyFeed",
		favicon: "http://www.gravatar.com/avatar/"+user.emailhash,
		description: "Stream of Media, Thoughts, Things and Cats from "+ user.username,
		fb_title: user.username+"´s MyFeed",
		fb_sitename: "MyFeed of "+user.username,
		fb_description: "Stream of Media, Thoughts, Things and Cats from "+ user.username,
		fb_image: "http://www.gravatar.com/avatar/"+user.emailhash,
		fb_url: user.domain,
		fb_type: "website",
		appletouchicon: "http://www.gravatar.com/avatar/"+user.emailhash
	})

// extend block body
block body

	.Background

	// MyFeed Header
	header.MyFeedHeader
		.MyFeedTitle
			h1!=user.username
			p 
				a(href="https://github.com/polarity/MyFeed") MyFeed 
				| of #{user.username}. follow or subscribe via RSS

	// Stream Start
	.Stream(class="ng-cloak" ng-cloak)

		+CreatePost()

		.Posts(ng-controller="PostListController")
			//.iterate(ng-repeat="PostObject in Posts | orderBy:'created':true track by $index")
			.iterate(ng-repeat="PostObject in Posts track by $index")
				+Post({type: ''})

			.showMore(ng-click="showMore()") show more
