// extend layout1
extends includes/_layout

// extend block head
block head
	+global_headstuff({
		title: doc.title+" ~ "+user.username+"MyFeed",
		favicon: "http://www.gravatar.com/avatar/"+user.emailhash,
		description: truncate(markdown(doc.content).replace(/<(?:.|\n)*?>|[\n\r]/gm, ''), 230),
		fb_title: doc.title+" ~ "+user.username+"MyFeed",
		fb_sitename: "MyFeed of "+user.username,
		fb_description: truncate(markdown(doc.content).replace(/<(?:.|\n)*?>|[\n\r]/gm, ''), 230),
		fb_image: "http://www.gravatar.com/avatar/"+user.emailhash,
		fb_url: user.domain,
		fb_type: "website",
		appletouchicon: "http://www.gravatar.com/avatar/"+user.emailhash
	})

// extend block body
block body

	.Background

	// Stream Start
	.Single(class="ng-cloak" ng-cloak)
		.Posts(ng-controller="PostListController", ng-init="getPosts( '#{doc._id}' )")
			.iterate(ng-repeat="PostObject in Posts | orderBy:'created':true | filter:'"+doc._id+"' track by $index")
				+Post({type: ''})
