// extend layout1
extends ../includes/_layout1

// extend block head
block head

	// Head - Time for meta tags
	+global_headstuff({title: "Robert Agthe"})

// extend block body
block body
	header
		.Videobox
			video.bgvideo(poster="http://scriptshit.de/media/RollingDice.png",autoplay="true",loop="true")
				source(src="video/WebseitenHintergrundfilm.webmhd.webm",type="video/webm")
			h1 Akte 
				b: i Agthe

	.Grid-Maincontent

		.Grid-Section
			.Linkbox
				.linkbox-preview
				.linkbox-content
					a.linkbox-link(href="http://google.de") Hier steht ein Link
					.linkbox-desc On the hunt of “CSS Flexbox” usefulness. Today: 2 column webpage layout.
		.Grid-Section
			.Shoutbox
				.shoutbox-avatar
				.shoutbox-content
					:markdown
						Hallo Welt: [http://google.de](http://google.de)

		.Grid-Section
			.Shoutbox
				.shoutbox-avatar
				.shoutbox-content
					:markdown
						Wenn man im iMessage nach links swiped, sieht man die Timestamps. Muss man ersma drauf kommen. Aber man kann ja vielleicht auch noch viel mehr text schreiben wenn man möchte

		.Grid-Section
			.Shoutbox
				.shoutbox-avatar
				.shoutbox-content
					:markdown
						Wenn man im iMessage nach links swiped, sieht man die Timestamps. Muss man ersma drauf kommen.

		.Grid-Section
			.Textbox
				:markdown
					## Als ich mal zur Schule ging
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.

					Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae, sagittis vel odio. Maecenas convallis ullamcorper ultricies. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, id fringilla sem nunc vel mi. Nam dictum, odio nec pretium volutpat, arcu ante placerat erat, non tristique elit urna et turpis. Quisque mi metus, ornare sit amet fermentum et, tincidunt et orci. Fusce eget orci a orci congue vestibulum. Ut dolor diam, elementum et vestibulum eu, porttitor vel elit. Curabitur venenatis pulvinar tellus gravida ornare. Sed et erat faucibus nunc euismod ultricies ut id justo. Nullam cursus suscipit nisi, et ultrices justo sodales nec. Fusce venenatis facilisis lectus ac semper. Aliquam at massa ipsum. Quisque bibendum purus convallis nulla ultrices ultricies. Nullam aliquam, mi eu aliquam tincidunt, purus velit laoreet tortor, viverra pretium nisi quam vitae mi. Fusce vel volutpat elit. Nam sagittis nisi dui.

					Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt. Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus. Aliquam ut massa in turpis dapibus convallis. Praesent elit lacus, vestibulum at malesuada et, ornare et est. Ut augue nunc, sodales ut euismod non, adipiscing vitae orci. Mauris ut placerat justo. Mauris in ultricies enim. Quisque nec est eleifend nulla ultrices egestas quis ut quam. Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi. Phasellus non ullamcorper urna.

					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In euismod ultrices facilisis. Vestibulum porta sapien adipiscing augue congue id pretium lectus molestie. Proin quis dictum nisl. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.

		.Grid-Section
			.Gallerybox
				img(src="https://farm3.staticflickr.com/2933/13774500735_6eb4a6471e_b_d.jpg")

		.Grid-Section
			.Videobox
				video.bgvideo(poster="http://scriptshit.de/media/RollingDice.png",autoplay="true",loop="true")
					source(src="video/oblivion.webmhd.webm",type="video/webm")
				.Textbox
					h2 Oblivion
					:markdown
						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In euismod ultrices facilisis. Vestibulum porta sapien adipiscing augue congue id pretium lectus molestie. Proin quis dictum nisl. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.

						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In euismod ultrices facilisis. Vestibulum porta sapien adipiscing augue congue id pretium lectus molestie. Proin quis dictum nisl. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.

		.Grid-Section
			.Textbox
				:markdown
					## Hund & Köter

					Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. Etiam luctus porttitor lorem, sed suscipit est rutrum non. Curabitur lobortis nisl a enim congue semper. Aenean commodo ultrices imperdiet. Vestibulum ut justo vel sapien venenatis tincidunt. Phasellus eget dolor sit amet ipsum dapibus condimentum vitae quis lectus. Aliquam ut massa in turpis dapibus convallis. Praesent elit lacus, vestibulum at malesuada et, ornare et est. Ut augue nunc, sodales ut euismod non, adipiscing vitae orci. Mauris ut placerat justo. Mauris in ultricies enim. Quisque nec est eleifend nulla ultrices egestas quis ut quam. Donec sollicitudin lectus a mauris pulvinar id aliquam urna cursus. Cras quis ligula sem, vel elementum mi. Phasellus non ullamcorper urna.

					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In euismod ultrices facilisis. Vestibulum porta sapien adipiscing augue congue id pretium lectus molestie. Proin quis dictum nisl. Morbi id quam sapien, sed vestibulum sem. Duis elementum rutrum mauris sed convallis. Proin vestibulum magna mi. Aenean tristique hendrerit magna, ac facilisis nulla hendrerit ut. Sed non tortor sodales quam auctor elementum. Donec hendrerit nunc eget elit pharetra pulvinar. Suspendisse id tempus tortor. Aenean luctus, elit commodo laoreet commodo, justo nisi consequat massa, sed vulputate quam urna quis eros. Donec vel.

		.Grid-Section
			.Gallerybox
				img(src="https://farm3.staticflickr.com/2933/13774500735_6eb4a6471e_b_d.jpg")
				img(src="http://24.media.tumblr.com/524a82901f1a0e8fa4007c7a0bba3a16/tumblr_n3exkysy9M1rbk8oco1_1280.jpg")
				img(src="https://farm4.staticflickr.com/3827/13624343405_737ef2f731_o_d.jpg")
				img(src="https://farm8.staticflickr.com/7082/13547598604_1241ff4d5a_o_d.jpg")
				img(src="https://farm4.staticflickr.com/3699/13408913685_926cedc4e9_o_d.jpg")
				img(src="https://farm4.staticflickr.com/3739/13143157205_def577e721_o_d.jpg")
				img(src="https://farm6.staticflickr.com/5471/13547284475_4f8564e136_b_d.jpg")
				img(src="https://farm9.staticflickr.com/8042/7996090429_d985f04fdc_b_d.jpg")
				img(src="https://farm9.staticflickr.com/8040/8015671319_8c9b26e8b8_b_d.jpg")

		.Grid-Section
			.Textbox
				h2 Eine Botschaft vom Urknall: Die erste direkte Beobachtung der kosmischen Inflation!
				iframe(width="700",height="393",src="http://www.youtube.com/embed/ZlfIVEy_YOA?wmode=transparent&amp;autohide=1&amp;egm=0&amp;hd=1&amp;iv_load_policy=3&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;showsearch=0#t=106",frameborder="0",allowfullscreen="")

		.Grid-Section
			.Textbox
				h2 Bitwig Studio is out
				iframe(width="700",height="393",src="//www.youtube.com/embed/5EbpxtZrJKg", frameborder="0",allowfullscreen="")
				:markdown
					Bitwig is out for one week and it rocks. Wrote some kind of a [love letter to the developers on the kvr forum](http://www.kvraudio.com/forum/viewtopic.php?f=259&t=408494):
					> Wow. Downloaded the demo version and was immediately impressed with Bitwig. Coming from mainly Cubase and Ableton Live, this thing blending the two Worlds perfectly together for me. I mean, i have some kind of love/hate relationship with Cubase and Ableton.
					> Ableton lacks massively on the sequencer side and points with the playful routing and looping capabilities. It´s perfect for djing and creating super fast some kind of prototype loops. But when you try to layout an arrangement you have to better record it or you´re lost in the shitty track view. 
					> Cubase on the other side has strong sequencing capabilities and it´s super fun to layout an track like a big puzzle in front of you. But it takes some time, you know. And then these constant crashes (mostly because of plugins) and the project management, no clip launcher etc. It works but it has some kind of "oldness" to it. They trying to be fresh with some kind of gui coloring in the recent versions but its still the good old cubase vst we all know.
					> I tried (before bitwig) all kinds of DAWs for fun. Like this "ohm studio" with their "online features". It´s pretty neat to collaborate live on your project, seeing popping tracks in and out while the app syncs everything in the background. But besides that it´s not really hot or good. Pretty basic to be hones.
					> But this bitwig thing just instantly blew me away. I opened it and felt outright at home. Everything i tried worked. After 3 Days with the demo i realised i never opened a installed vst because the polysynth and some fx chains fitted my needs very well. The Sound is (as far as i can tell) very warm and every plugin has a nice quality flavor. It´s as i can tell the best and completest realeased 1.0 Version of a DAW i experienced. And i started with Music Maker 1.0 back then.
					> Very well done and i realize this is just the beginning.
