include global_headstuff
include header
include post
include createpost
include authmodule
include followermodule
include settingsmodule
include stream
include single
include navigation

block pre_site

doctype html
html(lang="de", ng-app="myFeed")

	head
		block head

	body(ng-init="$rootScope.currentUrl = 'http://scriptshit.de'")
		side-tab(
			sidebar-status="sidebarStatus", 
			current-url="$rootScope.currentUrl", 
			style="display: none;"
		)
		div.maintab(ng-class="{'sidetab-active': sidebarStatus == 'open'}")
			block body


include scripts
