mixin SettingsModule()
	// !
	.SettingsModule.FrontendModule(ng-controller="SettingsController", ng-show="login.token")

		h2.ModuleTitle Settings
		p Settings for your MyFeed appearance or behavior.
		img-upload(bgimgurl="upload(datauri)")