mixin Stream(options)

	+CreatePost()

	// !
	.Posts(ng-controller="PostListController", ng-init="getPosts(false, false, '#{options.type}')")
		.iterate(ng-repeat="PostObject in Posts | orderBy:'created':true track by $index")
			+Post({type: ''})

		loading(ng-show="Posts.length > 0")
			button.showMore(ng-click="showMore()") show more