
$FONT-MAIN
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif
	font-weight: 200

$FONT-HEAD
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif

$FONT-MONO
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-weight: 100
