$FONT-MAIN
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif
	font-weight: 100

$FONT-HEAD
	font-family: 'Roboto Condensed'
	font-weight: 300

$FONT-MONO
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	font-weight: 100
