$space = 20px

@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:300')

@import reset
@import fonts
@import grid
@import webcraft
@import style-guide
@import mediaqueries
@import vendor-prefixed

html
	height: 100%
	min-height: 100%

body
	@extend $FONT-MAIN
	@extend $COLOR-BLACK
	@extend $BG-LIGHTGREY
	@extend $LINE-HEIGHT-NORMAL
	font-style: normal
	height: 100%
	min-height: 100%
	min-width:200px

.Background
	background-size: cover
	background-position: center
	position: fixed;
	left: -10%;
	top: -10%;
	z-index: -1;
	width: 120%
	height: 120%
	//-webkit-filter: blur(15px);
	//-moz-filter: blur(15px);
	//-o-filter: blur(15px);
	//-ms-filter: blur(15px);
	//filter: blur(15px);

a, a:link, a:visited
	transition: all 0.5s ease
	@extend $COLOR-BLUE
	font-weight: 400
	cursor: pointer

input, button
	@extend $FONTSIZE-SMALL
	@extend $FONT-MAIN
	@extend $PADDING-SMALL
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $BG-LIGHTBLUE
	@extend $COLOR-WHITE
	@extend $BORDER-BLUE
	border-radius: 2px
	border-style: solid
	border-width: 1px
	margin-left: 0

button
	transition: all 0.5s ease-out
	cursor: pointer

button:hover
	@extend $BG-BLUE

button.showMore
	@extend $CENTER
	display: block

header.Siteheader
	@extend $BORDER-BOX
	@extend $PADDING-NORMAL
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $CENTER
	max-width: 800px

	.AuthModule
		@extend $PADDING-NORMAL
		@extend $BG-GREY
		.showCreatePost, .showLogin
			cursor: pointer
		.sendLogin
			@extend $MARGIN-BOTTOM-NO

header.MyFeedHeader
	@extend $BORDER-BOX
	@extend $PADDING-SMALL
	@extend $MARGIN-BOTTOM-NO
	@extend $CENTER
	@extend $TEXT-CENTER
	padding-top:0
	max-width: 800px
	.MyFeedTitle
		@extend $PADDING-V-BIG
		@extend $PADDING-H-NORMAL
		@extend $BG-WHITE
		@extend $COLOR-BLACK
		@extend $BORDER-GREY
		@extend $LINE-HEIGHT-SMALL
		border-radius: 0 0 4px 4px
		border-width: 0 1px 1px 1px
		border-style: solid
		h1
			@extend $FONTSIZE-GIGA
			@extend $FONT-HEAD
			@extend $MARGIN-BOTTOM-SMALL
			@extend $LINE-HEIGHT-SMALL
			text-transform: uppercase
		p
			@extend $FONTSIZE-SMALL
			@extend $LINE-HEIGHT-NORMAL
			@extend $CENTER
			opacity: 0.5
			max-width: 60%


.Stream
	@extend $BORDER-BOX
	@extend $CENTER
	@extend $PADDING-SMALL
	max-width: 800px

.Single
	@extend .Stream
	min-height: 100%
	flex-display()
	flex-align-items(center)

.Posts
	width: 100%

.Post
	@extend $PADDING-NORMAL
	@extend $BG-WHITE
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $BORDER-GREY
	border-width: 1px
	border-style: solid
	border-radius: 4px

.Post.new
	@extend $BORDER-GREEN
	border-width: 3px
	border-style: dotted

.Post.tweet
	position: relative
	border-radius: 15px
	flex-display()
	flex-align-items(center)
	flex-justify-content(flex-start)
	header.post-header
		@extend $MARGIN-BOTTOM-NO
		@extend $BORDER-GREY
		@extend $PADDING-H-NORMAL
		padding-left:0
		border-right-width: 1px
		border-style: dotted
		flex(3)
		flex-display()
		flex-direction(column)
		flex-align-items(center)
		.Avatar
			@extend $MARGIN-BOTTOM-SMALL
		.Meta
			@extend $PADDING-NO
			@extend $TEXT-CENTER

	article.post-article
		@extend $PADDING-H-NORMAL
		@extend $TEXT-CENTER
		padding-right:0
		flex(6)
		.content-content p:last-of-type
			@extend $MARGIN-BOTTOM-NO

header.post-header
	@extend $MARGIN-BOTTOM-SMALL
	flex-display()
	flex-align-items(center)
	flex-justify-content(left)
	.Avatar
		width: 20%
		min-width: 30px
		max-width: 50px
		img
			@extend $BORDER-DARKGREY
			@extend $BORDER-BOX
			display: block
			border-width: 1px
			border-style: solid
			border-radius: 40px
			overflow: hidden
			width: 100%
		img:hover
			@extend $BORDER-BLUE
			border-width: 2px

	.Meta
		@extend $PADDING-H-SMALL
		@extend $FONTSIZE-TINY 
		@extend $LINE-HEIGHT-SMALL
		@extend $COLOR-DARKGREY

		a, a:link, a:visited
			@extend $COLOR-DARKGREY
			text-decoration: none

		a:active, a:hover
			@extend $COLOR-BLUE

		.meta-actions
			div
				@extend $MARGIN-RIGHT-SMALL
				display: inline-block

		.meta-username, .meta-username a
			font-weight: bold


article.post-article
	@extend $MARGIN-BOTTOM-NO	
	clearfix()
	.article-content
		clearfix()
		@extend $LINE-HEIGHT-NORMAL
		@extend $OVERFLOW-NICE
		@extend $FONTSIZE-NORMAL

		.content-content
			p, h1, h2, code
				@extend $MARGIN-BOTTOM-NORMAL
			h1
				@extend $FONTSIZE-MEGA
				@extend $PADDING-V-NORMAL
				@extend $LINE-HEIGHT-SMALL
				padding-bottom: 0px
			h2
				@extend $FONTSIZE-BIG
				@extend $PADDING-V-NORMAL
				padding-bottom: 0px
			h3, h4, h5, h6
				@extend $PADDING-V-NORMAL
				padding-bottom: 0px
				font-weight: bold
			em
				font-style: italic
			strong, b
				font-weight: bold

			code 
				@extend $FONT-MONO
				@extend $PADDING-NORMAL
				@extend $BG-LIGHTGREY
				@extend $COLOR-BLACK
				@extend $FONTSIZE-SMALL
				display: block
				white-space: pre
				overflow: scroll

			blockquote 
				@extend $PADDING-H-NORMAL
				@extend $BORDER-LIGHTGREY
				@extend $COLOR-BLACK
				border-left-width: $space
				border-style: solid
				display: block


		.content-title
			@extend $FONTSIZE-BIG
			@extend $MARGIN-BOTTOM-SMALL


.Attachments.only
	@extend $FONTSIZE-NORMAL
	border: 0
	padding-top: 0
	a, a:link, a:visited
		@extend $COLOR-BLUE
	a:active, a:hover
		@extend $COLOR-BLUE

.Attachments
	@extend $FONTSIZE-SMALL
	@extend $PADDING-V-NORMAL
	@extend $BORDER-GREY
	padding-bottom: 0
	border-top-width: 1px
	border-style: dotted

	div:last-of-type
		@extend $MARGIN-BOTTOM-NO
	a, a:link, a:visited
		@extend $COLOR-DARKGREY
	a:active, a:hover
		@extend $COLOR-BLUE
	.attachment-remove
		@extend $FONTSIZE-TINY
		@extend $MARGIN-BOTTOM-SMALL
		cursor: pointer
		text-decoration: underline

	.UrlAttachment
		@extend $LINE-HEIGHT-NORMAL
		@extend $MARGIN-BOTTOM-NORMAL
		@extend $COLOR-DARKGREY
		clearfix()
		flex-display()
		flex-align-items(center)
		.url-link
			@extend $OVERFLOW-NICE

		.url-thumb
			@media $handhelds
				col(3,12)
			@media $medium_beyond
				col(2,12)
			@extend $PADDING-H-NORMAL
			padding-left: 0
			img
				@extend $BORDER-DARKGREY
				display: block
				border-width: 1px
				border-style: solid
				max-width: 100%

		.url-meta
			@media $handhelds
				col(9,12)
			@media $medium_beyond
				col(10,12)

		.url-meta-wide
			clearfix()

	.ImageAttachment
		@extend $MARGIN-BOTTOM-NORMAL
		clearfix()
		.image-thumb
			@extend $TEXT-CENTER
			col(12,12)
			padding-left: 0
			img
				width: 100%
		.image-link
			@extend $FONTSIZE-TINY
			@extend $OVERFLOW-NICE

	.VideoAttachment
		@extend $MARGIN-BOTTOM-NORMAL
		clearfix()
		.video-embed
			clearfix()
			@extend $TEXT-CENTER
			col(12,12)
			padding-left: 0
			img
				width: 100%
		.video-link
			@extend $FONTSIZE-TINY
			@extend $OVERFLOW-NICE

.CreatePost
	clearfix()

.createpost-input
	@extend $FONT-MAIN
	@extend $FONTSIZE-NORMAL
	@extend $BORDER-BOX
	@extend $BORDER-GREY
	@extend $PADDING-NORMAL
	@extend $BG-WHITE
	border-radius: 4px
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	border-width: 1px
	width: 100%
	height: $space*5

.Buttonbar
	flex-display()
	flex-justify-content(flex-end)

	

.ng-cloak, .x-ng-cloak {
	display: none !important
}
