$space = 20px

@import reset
@import fonts
@import grid
@import webcraft
@import style-guide
@import mediaqueries


html
	height: 100%

body
	@extend $FONTSIZE-NORMAL
	@extend $FONT-MAIN
	@extend $COLOR-BLACK
	@extend $BG-GREY
	@extend $LINE-HEIGHT-NORMAL
	font-style: normal
	height: 100%
	min-width:200px

.Background
	background-image: url(http://fc04.deviantart.net/fs70/i/2012/139/4/a/the_ghost_nebula_by_tylercreatesworlds-d4zb5y3.jpg)
	background-size: contains
	background-position: fixed
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	width: 100%
	height: 100%

a, a:link, a:visited
	@extend $COLOR-BLUE
	font-weight: bold

input, button
	@extend $FONTSIZE-SMALL
	@extend $FONT-MAIN
	@extend $PADDING-SMALL
	@extend $MARGIN-BOTTOM-NORMAL
	margin-left: 0

.AuthModule
	clearfix()
	@extend $PADDING-V-NORMAL
	.showLogin
		cursor: pointer
	.showCreatePost
		cursor: pointer

.Stream
	@extend $CENTER
	max-width: 800px
	@media $handhelds
		padding: 0
	@media $medium_beyond
		@extend $PADDING-NORMAL


.Post
	@extend $PADDING-NORMAL
	@extend $BG-WHITE-OP
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $BORDER-DARKGREY
	border-width: 1px
	border-style: solid
	padding-bottom: 0

.Post.new
	@extend $BORDER-GREEN


.Post.tweet
	position: relative
	border-radius: 15px
	header.post-header
		@extend $MARGIN-BOTTOM-NO
		width: 50px
		position: absolute
		left: -50px
		.Avatar
			width: 30px
		.Meta
			display: none

	article.post-article
		.article-content
			@extend $MARGIN-BOTTOM-NO

header.post-header
	@extend $MARGIN-BOTTOM-SMALL
	@extend $VCENTER
	clearfix()

	.Avatar
		@media $handhelds
			col(1,12)
		@media $medium_beyond
			col(1,12)
		img
			@extend $BORDER-DARKGREY
			@extend $BORDER-BOX
			border-width: 1px
			border-style: solid
			border-radius: 40px
			overflow: hidden
			width: 100%
	.Meta
		@media $handhelds
			padding-top: 0
			padding-bottom: 0
			col(11,12)

		@media $medium_beyond
			col(11,12)

		@extend $PADDING-H-SMALL
		@extend $FONTSIZE-TINY 
		@extend $LINE-HEIGHT-SMALL
		@extend $COLOR-DARKGREY

		a, a:link, a:visited
			@extend $COLOR-DARKGREY

		.meta-username
			font-weight: bold

article.post-article
	@extend $MARGIN-BOTTOM-NO	
	clearfix()
	.article-content
		clearfix()
		@extend $FONTSIZE-NORMAL
		@extend $LINE-HEIGHT-NORMAL
		@extend $OVERFLOW-NICE
		.content-content
			@extend $FONTSIZE-NORMAL
			p, h1, h2, code
				@extend $MARGIN-BOTTOM-NORMAL
			h1
				@extend $FONTSIZE-MEGA
				@extend $PADDING-V-NORMAL
				@extend $LINE-HEIGHT-NORMAL
				padding-bottom: 0px
			h2
				@extend $FONTSIZE-BIG
				@extend $PADDING-V-NORMAL
				padding-bottom: 0px
			h3, h4, h5, h6
				@extend $PADDING-V-NORMAL
				padding-bottom: 0px
				font-weight: bold
			em
				font-style: italic
			strong, b
				font-weight: bold

			code 
				@extend $FONT-MONO
				@extend $PADDING-NORMAL
				@extend $BG-LIGHTGREY
				@extend $COLOR-BLACK
				@extend $FONTSIZE-SMALL
				display: block
				white-space: pre
				overflow: scroll

		.content-title
			@extend $FONTSIZE-BIG
			@extend $MARGIN-BOTTOM-SMALL

.Attachments
	.UrlAttachment
		@extend $FONTSIZE-SMALL
		@extend $LINE-HEIGHT-NORMAL
		@extend $MARGIN-BOTTOM-NORMAL
		clearfix()
		.url-link
			@extend $OVERFLOW-NICE

		.url-thumb
			@media $handhelds
				col(3,12)
			@media $medium_beyond
				col(2,12)
			@extend $PADDING-H-NORMAL
			padding-left: 0
			img
				@extend $BORDER-DARKGREY
				border-width: 1px
				border-style: solid
				max-width: 100%

		.url-meta
			@media $handhelds
				col(9,12)
			@media $medium_beyond
				col(10,12)

		.url-meta-wide
			clearfix()

	.ImageAttachment
		@extend $MARGIN-BOTTOM-NORMAL
		clearfix()
		.image-thumb
			@extend $TEXT-CENTER
			col(12,12)
			padding-left: 0
			img
				min-width: 100%
		.image-link
			@extend $FONTSIZE-TINY
			@extend $OVERFLOW-NICE

.CreatePost
	clearfix()

.createpost-input
	@extend $FONT-MAIN
	@extend $FONTSIZE-NORMAL
	@extend $BORDER-BOX
	@extend $BORDER-DARKGREY
	@extend $PADDING-NORMAL
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	border-width: 1px
	width: 100%
	height: $space*5
