$space = 20px

@import reset
@import fonts
@import grid
@import webcraft
@import style-guide
@import mediaqueries


html
	height: 100%

body
	@extend $FONTSIZE-NORMAL
	@extend $FONT-MAIN
	@extend $COLOR-BLACK
	@extend $BG-GREY
	@extend $LINE-HEIGHT-NORMAL
	font-style: normal
	height: 100%
	min-width:200px

.Background
	background-image: url(https://farm4.staticflickr.com/3924/14146565428_57002bbb48_h.jpg)
	background-size: cover
	background-position: center
	position: fixed;
	left: -10%;
	top: -10%;
	z-index: -1;
	width: 120%
	height: 120%
	//-webkit-filter: blur(15px);
	//-moz-filter: blur(15px);
	//-o-filter: blur(15px);
	//-ms-filter: blur(15px);
	//filter: blur(15px);

a, a:link, a:visited
	@extend $COLOR-BLUE
	font-weight: bold

input, button
	@extend $FONTSIZE-SMALL
	@extend $FONT-MAIN
	@extend $PADDING-SMALL
	@extend $MARGIN-BOTTOM-NORMAL
	margin-left: 0

.AuthModule
	clearfix()
	@extend $MARGIN-BOTTOM-NORMAL
	.showCreatePost, .showLogin
		cursor: pointer
	.sendLogin
		@extend $MARGIN-BOTTOM-NO

.Stream
	@extend $CENTER
	max-width: 800px
	@media $handhelds
		@extend $PADDING-SMALL
	@media $medium_beyond
		@extend $PADDING-NORMAL


.Post
	@extend $PADDING-NORMAL
	@extend $BG-WHITE-OP
	@extend $MARGIN-BOTTOM-NORMAL
	@extend $BORDER-DARKGREY
	border-width: 1px
	border-style: solid
	padding-bottom: 0

.Post.new
	@extend $BORDER-GREEN
	border-width: 3px
	border-style: dotted

.Post.tweet
	position: relative
	border-radius: 15px
	margin-left: 90px
	header.post-header
		@extend $MARGIN-BOTTOM-NO
		justify-content: flex-start
		width: 100%
		position: absolute
		.Avatar
			position: absolute
			left: -90px
			top: -15px
		.Meta
			@extend $PADDING-NO
			position: absolute
			top: -15px
		div
			@extend $MARGIN-RIGHT-SMALL
			display: inline-block


	article.post-article
		.article-content
			@extend $MARGIN-BOTTOM-NO

header.post-header
	@extend $MARGIN-BOTTOM-SMALL
	@extend $VCENTER
	clearfix()
	.Avatar
		@media $handhelds
			width: 50px
		@media $medium_beyond
			col(1,12)
		img
			@extend $BORDER-DARKGREY
			@extend $BORDER-BOX
			border-width: 1px
			border-style: solid
			border-radius: 40px
			overflow: hidden
			width: 100%
	.Meta
		@media $handhelds
			padding-top: 0
			padding-bottom: 0
			col(11,12)

		@media $medium_beyond
			col(11,12)

		@extend $PADDING-H-SMALL
		@extend $FONTSIZE-TINY 
		@extend $LINE-HEIGHT-SMALL
		@extend $COLOR-DARKGREY

		a, a:link, a:visited
			@extend $COLOR-DARKGREY

		.meta-actions
			div
				@extend $MARGIN-RIGHT-SMALL
				display: inline-block
		.meta-username
			font-weight: bold

		.meta-delete
			a
				text-decoration: underline
				cursor: pointer

article.post-article
	@extend $MARGIN-BOTTOM-NO	
	clearfix()
	.article-content
		clearfix()
		@extend $LINE-HEIGHT-NORMAL
		@extend $OVERFLOW-NICE
		@extend $FONTSIZE-NORMAL
		.content-content
			p, h1, h2, code
				@extend $MARGIN-BOTTOM-NORMAL
			h1
				@extend $FONTSIZE-MEGA
				@extend $PADDING-V-NORMAL
				@extend $LINE-HEIGHT-NORMAL
				padding-bottom: 0px
			h2
				@extend $FONTSIZE-BIG
				@extend $PADDING-V-NORMAL
				padding-bottom: 0px
			h3, h4, h5, h6
				@extend $PADDING-V-NORMAL
				padding-bottom: 0px
				font-weight: bold
			em
				font-style: italic
			strong, b
				font-weight: bold

			code 
				@extend $FONT-MONO
				@extend $PADDING-NORMAL
				@extend $BG-LIGHTGREY
				@extend $COLOR-BLACK
				@extend $FONTSIZE-SMALL
				display: block
				white-space: pre
				overflow: scroll

		.content-title
			@extend $FONTSIZE-BIG
			@extend $MARGIN-BOTTOM-SMALL

.Attachments
	.attachment-remove
		@extend $FONTSIZE-SMALL
		@extend $MARGIN-BOTTOM-SMALL
		cursor: pointer
		text-decoration: underline

	.UrlAttachment
		@extend $FONTSIZE-SMALL
		@extend $LINE-HEIGHT-NORMAL
		@extend $MARGIN-BOTTOM-NORMAL
		clearfix()
		.url-link
			@extend $OVERFLOW-NICE

		.url-thumb
			@media $handhelds
				col(3,12)
			@media $medium_beyond
				col(2,12)
			@extend $PADDING-H-NORMAL
			padding-left: 0
			img
				@extend $BORDER-DARKGREY
				border-width: 1px
				border-style: solid
				max-width: 100%

		.url-meta
			@media $handhelds
				col(9,12)
			@media $medium_beyond
				col(10,12)

		.url-meta-wide
			clearfix()

	.ImageAttachment
		@extend $MARGIN-BOTTOM-NORMAL
		clearfix()
		.image-thumb
			@extend $TEXT-CENTER
			col(12,12)
			padding-left: 0
			img
				min-width: 100%
		.image-link
			@extend $FONTSIZE-TINY
			@extend $OVERFLOW-NICE

.CreatePost
	clearfix()

.createpost-input
	@extend $FONT-MAIN
	@extend $FONTSIZE-NORMAL
	@extend $BORDER-BOX
	@extend $BORDER-DARKGREY
	@extend $PADDING-NORMAL
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	border-width: 1px
	width: 100%
	height: $space*5
