WHITE = #fff
LIGHTGREY = #E4E4E4
GREY = #E9EAED
DARKGREY = #8F8F8F
BLACK = #424242
GREEN = #00BB00
BLUE = #4183C4

$COLOR-WHITE
	color: WHITE

$COLOR-BLACK
	color: BLACK

$COLOR-GREY
	color: GREY

$COLOR-DARKGREY
	color: DARKGREY

$COLOR-BLUE
	color: BLUE


$BG-GREY
	background-color: GREY

$BG-DARKGREY
	background-color: DARKGREY

$BG-LIGHTGREY
	background-color: LIGHTGREY

$BG-WHITE
	background-color: WHITE

$BG-WHITE-OP
	background-color: rgba(255,255,255,0.98)


$BORDER-GREEN
	border-color: GREEN

$BORDER-DARKGREY
	border-color: DARKGREY

$OVERFLOW-NICE
	overflow: hidden
	text-overflow: ellipsis