$COLOR-WHITE
	color: #fff

$COLOR-BLACK
	color: #424242

$COLOR-GREY
	color: #ccc

$COLOR-BLUE
	color: #4183C4

$BG-DARK
	background-color: #1A1A1A

$BG-GREY
	background-color: #E9EAED

$BG-DARKGREY
	background-color: #5B534C

$BG-LIGHTGREY
	background-color: #F7F7F7

$BG-WHITE
	background-color: #FFF

$BG-WHITE-OP
	background-color: rgba(255,255,255,0.9)

$BORDER-GREY
	border-color: #EEE

$BORDER-GREEN
	border-color: #72FA78

$BORDER-DARK
	border-color: #888888

$BORDER-BLUE
	border-color: #E3E3E5

$OVERFLOW-NICE
	overflow: hidden
	text-overflow: ellipsis