flex-display()
	display: flex
	display: -webkit-flex
	display: -moz-flex
	display: -o-flex
	display: -ms-flex

flex(data)
	flex: data
	-webkit-flex: data
	-moz-flex: data
	-o-flex: data
	-ms-flex: data

flex-direction(data)
	flex-direction: data
	-webkit-flex-direction: data
	-moz-flex-direction: data
	-o-flex-direction: data
	-ms-flex-direction: data

flex-align-items(data)
	align-items: data
	-webkit-align-items: data

flex-justify-content(data)
	justify-content: data
	-webkit-justify-content: data
	-moz-justify-content: data
	-o-justify-content: data
	-ms-justify-content: data
